*{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;

}

body{
    width: 100%;
    display: flex;
}

img{
    width: 100%;
    height: auto;
}

aside{
    width: 15%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    #title{
        padding: 10px;
        width: 90%;
        input{
            width: 90%;
        }

    }
    #author{
        width: 90%;
        padding: 10px;
        input{
            width: 90%;
        }
    }
    #checkbox{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        label{
            padding: 5px 0px;
            input{
                
            } 
        }
        
        }
    }


main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    #header{
        margin: 20px 0;
        input{
            padding: 10px 15px;
            width: 500px;
            background-color: #e4e4e4;
            border: 2px solid #b4b4b4;
        }
    }
    #tabs{
        button{
            margin: 0 10px;
            font-size: 18px;
            border: none;
            padding: 10px 15px;
            transition: background-color .25s;
        }
        button:hover{
            background-color: rgb(92, 198, 240);
        }
    }
    #container{
        width: 1300px;
        margin: 30px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 30px;
        flex-wrap: wrap;
        .book{
            width: 300px;
            height: 350px;
            background-color: #ececec;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 10px;
            overflow: hidden;
        }
        #bookPicture{
            width: 100%;
            img{
                height: 250px;
            }
        }
        .bookInfo{
            margin: 0;
            padding: 10px;
            h4, h3, h2{
                text-transform: uppercase;
            }
            .genre{
                font-size: 12px;
            }
            .title{
                margin: 0 0 5px;
                font-size: 20px;
            }
            .author{
                font-size: 15px;
            }
        }

    }
    .loadMore{
        padding: 10px 15px;
        border: none;
        font-size: 18px;
    }
}