*{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;

}

body{
    max-width: 100%;
    display: flex;
}

img{
    width: 100%;
    height: auto;
}
/*** ADD BOOK ***/
aside{
    min-width: 10%;
    background-color: rgb(196, 196, 196);
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    #addBookMenu{
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: sticky;
        top: 10px;
        width: 100%;
    
        #title{
            padding: 10px;
            width: 90%;
            input{
                width: 90%;
            }

        }
        #author{
            width: 90%;
            padding: 10px;
            input{
                width: 90%;
            }
        }
        #checkbox{
            display: flex;
            flex-direction: column;
            margin-left: 10%;
            margin-bottom: 10px;
            label{
                padding: 4px 0px;
                margin-left: 0px;
                font-size: 12px;
                
            }
        }
        
        #addPic{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100px;
            input[type=file] {
                display: none;
                
            }
            #addPicture{
                font-size: 13.3333px;
                display: inline-block;
                border: 1px solid rgb(121, 121, 121);
                border-radius: 2px;
                padding: 5px;
                background-color: #EFEFEF;
                text-transform: capitalize;
                cursor: pointer;
            }
            #addPicture:hover{
                background-color: #e5e5e5;

            }
        }

        #add{
            padding: 10px;
            margin-bottom: 10px;
            text-transform: capitalize;
            cursor: pointer;

        }
        #clearLocalStorage{
            cursor: pointer;

        }
    }
}
/*** CONTAINER OF BOOKS ***/
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    overflow: hidden;

    #header{
        margin: 20px 0;
        input{
            padding: 10px 15px;
            width: 500px;
            background-color: #e4e4e4;
            border: 2px solid #b4b4b4;
        }
    }
    #tabs{
        button{
            margin: 0 10px;
            font-size: 18px;
            border: none;
            padding: 10px 15px;
            transition: background-color .25s;
            outline: none;
        }
        button.active{
            background-color: rgb(92, 198, 240);
        }
    }
    #container{
        margin: 30px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: space-evenly;
        .book{
            width: 250px;
            height: 350px;
            background-color: #ececec;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 10px;
            overflow: hidden;
            display: none;
        }
        .show{
            display: flex;
        }
        .bookPicture{
            width: 100%;
            height: 100%;
            background-image: url(./img/book_placeholder.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% 100%;
            img{
                height: 250px;
            }
            #bookPic{
            
            }
        }
        .bookInfo{
            margin: 0;
            padding: 10px;
            h4, h3, h2{
                text-transform: uppercase;
            }
            .genre{
                font-size: 12px;
            }
            .title{
                margin: 0 0 5px;
                font-size: 20px;
            }
            .author{
                font-size: 15px;
            }
        }

    }
}